<div class="container-fluid">
<div class="page-header">
  <h1>About Me</h1>
</div>
<div class="row">
<div class=" col-md-6">
<p>My name is James Dozier AKA The ArtMan. I am a artist, from queens, New York </p>
<p>I am self taught artist I have never atteded an art school in my life.</p>
<p>On my free time I study the great artist from Vincent Van Gogh, Pablo Picasso</p>
<p>Growing up I was into comic books. I was so amazed with the pictures and story that I wanted to make my own</p>
<p>I love drawing and painting it lets me tell my own storys</p>
<p>To get in touch with me, use the contacts tab or directly with an <%= mail_to "", "Email", subject: "Info" %> If you have comments, criticism, or questions about my work, I'd love to hear it. I'll usually respond the same day, so feel free to contact me anytime. I am available for freelancing projects, whether it be with Oil Painting, Comics, Cartoons, shorts, logos, games and apps. Contact me also for additional information and pricing.</p>

<p>My Specialtize</p>
<ul>
    <li>Oil Paint</li>
    <li>Comic Books</li>
    <li>Portraits</li>
    <li>Drawings</li>
  
</ul>
</div>
<div class=" col-md-6">
    <div class="thumbnail">
   <%= image_tag("profile_pic.jpg")%>
   </div>
</div>
</div>
</div>