<h1>gallery</h1>
<div class="container">
<div class="row">
    <div class="col-md-6">
        <div class="well">
        <%= image_tag('20170506_133011.jpg', class: "image_gallery") %>
        </div>
    <h3>PlaceHolder</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= image_tag('20170506_133108.jpg', class: "image_gallery") %>
        <h3>PlaceHolder</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= image_tag('20170506_141903.jpg', class: "image_gallery") %>
        <h3>PlaceHolder</h3>
    </div>
</div>

</div>
