<h1>gallery</h1>
<div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="well">
        <%= image_tag('20170506_133011.jpg', class: "image_gallery") %>
        <h3>Title</h3>
        <p>Desciption goes here</p>
        </div>
    
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well">
        <%= image_tag('20170506_133108.jpg', class: "image_gallery") %>
        <h3>Title</h3>
        <p>Desciption goes here</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well">
        <%= image_tag('20170506_141903.jpg', class: "image_gallery") %>
        <h3>Title</h3>
        <p>Desciption goes here</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well">
        <%= image_tag('20170506_141954.jpg', class: "image_gallery") %>
        <h3>Title</h3>
        <p>Desciption goes here</p>
        </div>
    </div>
</div>

</div>
